<footer>
    <div class="container">
        <div class="sec aboutus">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quo, eligendi suscipit, eaque quis
                quisquam, earum consequatur molestias et illum sunt accusamus voluptatum delectus quaerat optio vero
                ullam velit quia!</p>
            <ul class="sci">
                <li><a href="#"><i class="fab new-color fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab new-color fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab new-color fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab new-color fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms & Consitions</a></li>
                <li><a href="#">Cotact</a></li>
            </ul>
        </div>
        <div class="sec contactt">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="fal fa-map-marker-smile"></i></span><span>Queen Rania Street <br>Amman, PA
                        87563 <br>JORDAN</span>
                </li>
                <li>
                    <span><i class="fas fa-phone"></i></span>
                    <p><a href="tel:12345678900">+12345678900</a><br><a href="tel:12345678900">+12345678900</a></p>
                </li>
                <li>
                    <span><i class="fas fa-envelope-square"></i></span>
                    <p><a href="mailto:emergency.app987@gmail.com">emergency.app987@gmail.com</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>