footer {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 0px 100px;
  background-color: #FEA745;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2rem;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .footer-container .footer-sec {
  margin-right: 30px;
}

footer .footer-container .footer-sec.footer-aboutus {
  width: 40%;
}

footer .footer-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .footer-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #87613d;
}

footer p {
  color: #fff;
}

.footer-sci {
  margin-top: 20px;
  display: flex;
}

.footer-sci li {
  list-style: none;
}

.footer-sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.footer-sci li a:hover {
  background-color: #e8a93c;
}

.footer-sci li a fab {
  color: #fff;
}

.footer-icon-color1,
.footer-icon-color2 {
  color: #ff7d00;
}

.footer-quickLinks {
  position: relative;
  width: 25%;
}

.footer-quickLinks ul li {
  list-style: none;
}

.footer-quickLinks ul li a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.footer-quickLinks ul li a:hover {
  color: #ff7d00;
}

.contactt {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contactt .footer-info {
  position: relative;
}

.contactt .footer-info li {
  display: flex;
  margin-bottom: 16px;
}

.contactt .footer-info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contactt .footer-info li span {
  color: #fff;
}

.contactt .footer-info li a {
  color: #fff;
}

.contactt .footer-info li a:hover {
  color: #ff7d00;
}

@media (max-width: 1000px) {
  footer {
    padding: 40px;
  }
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-container .footer-sec {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .footer-container .footer-sec.footer-aboutus,
  .footer-quickLinks,
  .contactt {
    width: 100%;
  }
}
