<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/header-footer/header.css">

    <link rel="stylesheet" href="/styles/contact/Aboutus.css">
    <script src="https://kit.fontawesome.com/10b9d393a2.js" crossorigin="anonymous"></script>


</head>
  
<body>
<header>
  <%- include('../partials/header')%>

</header>
    <div class="row">
        <div class="containers col-lg-6 col-md-6">
          
          <div class="pic"></div>
          
          <div class="box1"></div>
          <div class="box2"></div>
          
          <div class="social1">
            <i class="fa fa-facebook" aria-hidden="true"></i> 
          </div>
          <div class="social2">
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          </div>
          <div class="social3">
            <i class="fa fa-codepen" aria-hidden="true"></i>
          </div>
        </div>
        
        <div class="content col-md-offset-6 col-lg-offset-6">
          <center><h1 class="contentHead">ABOUT US</h1></center>
          
          <h2>Hello Friend, <br/><br/>
            We are a team (ctrl-Alt-Deafet) , students at Luminus College.
             We present to you our project for the course (301), 
            which is  it is an application to facilitate the process of finding work and the worker,
             the idea of ​​our project is for the person looking for a job who logs in and fills in his personal information and field of work,
              for the person the employer who is looking for a worker in various types of specialties by searching on the page and the application finds the closest workers They are available with viewing years of experience and CV for each worker,
            then he can contact him by phone.
            <br/><br/>
            Show your L<span>&hearts;</span>VE if you like our project.
            <br/><br/>
          </h2>
        </div>
        </div> 
        
            
<div class="firs">
    <div class="person">
      <div class="container">
        <div class="container-inner">
          <img
          
            class="circle"
            src="https://ca.slack-edge.com/TNGRRLUMA-U01GP07TR61-e67038ab28f1-512"
          />
          
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Areej Obaid</div>
      <div class="title">Civil Engineer</div>
    </div>
  </div>
    <div class="person">
      <div class="container">
        <div class="container-inner">
          <img
            class="circle"
            src="https://ca.slack-edge.com/TNGRRLUMA-U01GS2TPXL2-885c6b65b1c7-512"
          />
         
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Abdalrahman Al-hmouz</div>
      <div class="title">Civil Engineer</div>
    </div>

    <div class="person">
      <div class="container">
        <div class="container-inner">
          <img
            class="circle"
            src="https://ca.slack-edge.com/TNGRRLUMA-U01GKA4R9RU-84621f150c79-512"
          />
          
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Salah Alawneh</div>
      <div class="title">Mecanique Engineer</div>
    </div>
    <div class="person">
      <div class="container">
        <div class="container-inner">
          <img
            class="circle"
            src="https://ca.slack-edge.com/TNGRRLUMA-U01GJP0SCK0-8800986ab845-512"
          />
          
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Ahmad AlSabbagh</div>
      <div class="title">Alternative Energy</div>
    </div>

    
    <div class="person">
      <div class="container">
        <div class="container-inner">
          <img
            class="circle"
            src="https://ca.slack-edge.com/TNGRRLUMA-U01HFTKQKCG-296f2ac8e0e6-512"
          />
         
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Bayan Abu-Alhaj</div>
      <div class="title">Civil Engineer</div>
    </div>
         
        
</body>