<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/ask/addQue.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form class="addQue" method='POST' id='addQue'>
            <h3>Add New Question</h3>
            <div id='header_div'>
                <select name="type_of_work" id='input_select'>
                    <option value="" disabled selected>type of work</option>
                    <option value="Smith">Smith</option>
                    <option value="Carpenter">Carpenter</option>
                    <option value="Plumber">Plumber</option>
                    <option value="Builder">Builder</option>
                    <option value="Paint">Painter</option>
                    <option value="other">-other-</option>
                </select>
                <input type="text" name="subject" placeholder="Subject" required>
            </div>

            <input type="text" name='que' placeholder="Your Question" required style="margin-top: 35px;">
            <button class="form-btn dx" type="submit">Add</button>
        </form>
    </div>
    <script src="/js/addque.js"></script>
</body>

</html>