<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js"
        integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="styles/contact/base.css">
    <link rel="stylesheet" href="styles/contact/layout.css">
    <link rel="stylesheet" href="styles/contact/modules.css">
    <link rel="stylesheet" href="styles/header-footer/header.css">
    <link rel="stylesheet" href="styles/header-footer/footer.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <section class="contact">
                <div class="content">
                    <h2>Contact Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique rerum explicabo sint sit
                        facilis, recusandae et, iure, ea minima deserunt. Nam placeat ea sunt. Id ad nihil quod!
                        Deleniti?</p>
                </div>
                <div class="container">
                    <div class="contactInfo">
                        <div class="box">
                            <div class="icon"><i class="fas icon-color fa-map-marker-alt"></i></div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>Queen Rania St <br> Amman <br>215006</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon"><i class="fas icon-color fa-phone"></i></div>
                            <div class="text">
                                <h3>Phone</h3>
                                <p>(962-6) 123 45 67</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon"><i class="fas icon-color fa-envelope-square"></i></div>
                            <div class="text">
                                <h3>Email</h3>
                                <p>emergency-jo@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="contactForm">
                        <form action="/contact:id" method="POST">
                            <h2>Send Message</h2>
                            <div class="inputBox">
                                <input type="text" name="userName" required="required">
                                <span>User Name</span>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="email" required="required">
                                <span>Email</span>
                            </div>
                            <input type="hidden" name="ownerid">
                            <div class="inputBox">
                                <textarea name="text" required="required"></textarea>
                                <span>Type your Message...</span>
                            </div>
                            <div class="inputBox">
                                <input type="submit" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            document.getElementById('ownerid').value = localStorage.getItem('id');
        </script>
        <%- include('../partials/footer') %>
</body>

</html>