<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="font-size: 12rem;text-align: center; color: red;">تكذبش</h1>
    <img src="https://www.abc.net.au/reslib/201502/r1385324_19654578.jpg" alt="">
</body>
</html>