<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js"
    integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD"
    crossorigin="anonymous"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="styles/header-footer/header.css">
    <link rel="stylesheet" href="styles/header-footer/footer.css">
    <link rel="stylesheet" href="/styles/map/map.css" />
    <title>Location</title>
</head>
<body>
    <%- include('../partials/header')%>
    <form class="form" id = 'searchForm'>
        <label for="experience">
            Search By Experience
            <input type="number" id = 'experience' name = 'experience' placeholder="Search By Experience">
        </label>
        <div class="select">
            <label for="work" id ='searchForm'>
                Type Of Work
                <select name="work" id = 'work'>
                    <option value="All">All</option>
                    <option value="Smith">Smith</option>
                    <option value="Carpenter">Carpenter</option>
                    <option value="Plumber">Plumber</option>
                    <option value="Builder">Builder</option>
                    <option value="Paint">Paint</option>
                </select>
            </label>
        </div>
        <br>
        <input class="button" type="submit" value="Search">
    </form>
    <div class="map" id="map" ></div>  
    <%- include('../partials/footer')%>
    <script src="/js/map.js">
    </script>
</body>
</html>